[isort]
default_section = THIRDPARTY
known_first_party = core  # change it for the name of your django project
known_django = django
forced_seperate = core
skip = migrations/*
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
