django
djangorestframework
ipython
tweepy
textblob
matplotlib
wordcloud
pandas
ipdb
mock
pytest-django
pytest-cov
sentry-sdk==0.6.4
guess-indian-gender==1.0.1
python-dotenv==0.10.1
Faker
djangorestframework_simplejwt
django-request-logging