django
djangorestframework
ipython
tweepy
textblob
matplotlib
wordcloud
pandas
ipdb
mock
pytest-django
pytest-cov
sentry-sdk==0.6.4
guess-indian-gender==1.0.1
python-dotenv==0.10.1
Faker
djangorestframework_simplejwt
django-request-logging
mysqlclient
python-memcached==1.59
python-memcached-stats==0.1
pytz==2018.7
pyxel==1.0.0
requests==2.21.0
requests-oauthlib==1.0.0
sentry-sdk==0.6.4
singledispatch==3.4.0.3
six==1.12.0
sounddevice==0.3.12
static3==0.7.0
text-unidecode==1.2
textblob==0.15.2
traitlets==4.3.2
tweepy==3.7.0
typing==3.6.6
uhashring==1.1
urllib3==1.24.1
wcwidth==0.1.7
wordcloud==1.5.0
django-crispy-forms==1.7.2
bs4==4.7.1
pyyaml==3.13
django-crispy-forms==1.7.2
