{% load app_filters %}
{% load static %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round|Muli|Karla|Oxygen" rel="stylesheet">
  <!--link href="{% static 'fonts/CircularStd-Black.woff' %}" rel="stylesheet">
  <link href="{% static 'fonts/CircularStd-Bold.woff' %}" rel="stylesheet"-->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/terms.js' %}"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2875001446128502",
      enable_page_level_ads: true
    });
  </script>
  <title>
    India 2019
  </title>
</head>
<nav class="navbar navbar-default primary-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--div class="navbar-brand">
        <h1>#india-elections-2k19</h1>
        <h2 style="text-align:right">- An analysis of tweets</h2>
      </div-->
      <a class="navbar-brand active" href="/" style="color:white;">#india-elections-2k19</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/india" style="color:white;">india</a></li>
      <li><a href="/tn" style="color:white;">tamilnadu</a></li>
    </ul>
  </div>
</nav>
<div id="terms-alert" style="display: none;">
<div class="alert alert-info alert-dismissible">
  <a href="#" onclick="agreeTerms();" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <center>By accessing this site, you agree to our <strong><a style="color:black;" href="/terms-and-conditions/">terms and conditions.</a></strong></center>
</div>
</div>
<script>
  showTermsAndConditionsAlert();
</script>
{% block content %}{% endblock %}
<footer class="page-footer font-small blue pt-4 primary-color">
  <br>
  <br>
  <br>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> Adhithyan Vijayakumar</a>
    </div>
  <br>
  <br>
  <br>
  </footer>
</html>