{% load app_filters %}
{% load static %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/terms.js' %}"></script>
  <script src="{% static 'js/state.js' %}"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2875001446128502",
      enable_page_level_ads: true
    });
  </script>
  <div id="disqus_thread"></div>

  <title>
    India 2019
  </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:#1a94ef" href="/" style="color:white;">#india-elections-2k19</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a onclick="hrefActive();" href="/india" style="color:black;">India</a></li>
      <li><a onclick="hrefActive();" href="/tn" style="color:black;">Tamilnadu</a></li>
    </ul>
 </div>
</nav>

<div id="terms-alert" style="display: none;">
<div class="alert alert-info alert-dismissible">
  <a href="#" onclick="agreeTerms();" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <center>By accessing this site, you agree to our <strong><a style="color:black;" href="/terms-and-conditions/">terms and conditions.</a></strong></center>
</div>
</div>
<script>
  showTermsAndConditionsAlert();
</script>
{% block content %}{% endblock %}
<script>
<footer class="page-footer font-small blue pt-4 primary-color">
  <br>
    <div class="footer-copyright text-center py-3">created with passion by
      <a href="https://github.com/v-adhithyan" target="_blank"> adhithyan vijayakumar</a>
    </div>
  <br>
  </footer>
</body>
</html>
