{% load app_filters %}
{% load static %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round|Muli|Karla|Oxygen" rel="stylesheet">
  <!--link href="{% static 'fonts/CircularStd-Black.woff' %}" rel="stylesheet">
  <link href="{% static 'fonts/CircularStd-Bold.woff' %}" rel="stylesheet"-->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <title>
    India 2019
  </title>
</head>
{% block content %}{% endblock %}
</html>