{% extends "base.html" %}
{% block content %}
{% load app_filters %}

<body>
  <h2>
    <center>tweet sentiment analysis</center>
  </h2>
  <div class="container" style="position:relative;">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <center>
            <h1 class="upa-color">{{ party1 }}</h1>
          </center>
          <ul>
            <li>{{ party1_positive }} % Positive</li>
            <li>{{ party1_negative }} % Negative</li>
            <li>{{ party1_neutral }} % Neutral</li>
          </ul>
        </div>
        <div class="card">
          <center>
            <h2>Tweet sentiments</h2>
            <canvas id="party1-chart"></canvas>
            <script>
              generateDoughnutChart("party1-chart", [
              {{ party1_positive }},
              {{ party1_negative }},
              {{ party1_neutral }}
              ]);
            </script>
          </center>
        </div>
        <div class="card">
          <center>
            <h2>Tweet counts by gender</h2>
            <canvas id="party1-gender-chart"></canvas>
            <script>
              generateBarChart("party1-gender-chart", [
              {{ party1_female }},
              {{ party1_male }}
              ]);
            </script>
          </center>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <center>
            <h1 class="nda-color">{{ party2 }}</h1>
          </center>
          <ul>
            <li>{{ party2_positive }} % Positive</li>
            <li>{{ party2_negative }} % Negative</li>
            <li>{{ party2_neutral }} % Neutral</li>
          </ul>
        </div>
        <div class="card">
          <center>
            <h2>Tweet sentiments</h2>
            <canvas id="party2-chart"></canvas>
            <script>
              generateDoughnutChart("party2-chart", [
              {{ party2_positive }},
              {{ party2_negative }},
              {{ party2_neutral }}
              ]);
            </script>
          </center>
        </div>
        <div class="card">
          <center>
            <h2>Tweet counts by gender</h2>
            <canvas id="party2-gender-chart"></canvas>
            <script>
              generateBarChart("party2-gender-chart", [
              {{ party2_female }},
              {{ party2_male }}
              ]);
            </script>
          </center>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h2>tweet counts by hashtag</h2>
  </center>
  <div class="row">
    <div class="card">
      <h2>Tweet count comparison</h2>
      <canvas id="tweet-count-comparison-chart"></canvas>
      <script>
        plotTimeseriesData("tweet-count-comparison-chart", {{ party1_time_series }},
        {{ party2_time_series }}, "{{ party1|stringify }}", "{{ party2|stringify }}")
      </script>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2>{% autoescape off %}{{ party1_tags|link_to_wordcloud }}{% endautoescape %}</h2>
        <h3>
          <p class="upa-color" style="text-align:center">{{ party1_post_count }} posts</p>
        </h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h2>{% autoescape off %}{{ party2_tags|link_to_wordcloud }}{% endautoescape %}</h2>
        <h3>
          <p class="nda-color" style="text-align:center">{{ party2_post_count }} posts</p>
        </h3>
      </div>
    </div>
  </div>
</body>
{% endblock %}