{% load static %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round|Muli|Karla|Oxygen" rel="stylesheet">
  <!--link href="{% static 'fonts/CircularStd-Black.woff' %}" rel="stylesheet">
  <link href="{% static 'fonts/CircularStd-Bold.woff' %}" rel="stylesheet"-->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/poc.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <title>
    India 2019
  </title>
</head>

<body>
  <nav class="navbar navbar-default primary-color">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>#india-elections-2k19</h1>
        <h2 style="text-align:right">- An analysis of tweets</h2>
      </div>
    </div>
  </nav>
  <h2>
    <center>tweet sentiment analysis</center>
  </h2>
  <div class="container" style="position:relative;">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <center>
            <h1 class="upa-color">UPA</h1>
          </center>
          <ul>
            <li>50 % Positive</li>
            <li>50 % Negative</li>
          </ul>
          <center>
            <canvas id="upa-chart"></canvas>
            <script>
              generateDoughnutChart("upa-chart", [50, 50]);
            </script>
          </center>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <center>
            <h1 class="nda-color">NDA</h1>
          </center>
          <ul>
            <li>50 % Positive</li>
            <li>50 % Negative</li>
          </ul>
          <center>
            <canvas id="nda-chart"></canvas>
            <script>
              generateDoughnutChart("nda-chart", [50, 40]);
            </script>
          </center>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h2>tweet counts by hashtag</h2>
  </center>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2>#upa #modi #bjp #rss</h2>
        <h3>
          <p class="upa-color" style="text-align:center">100 m posts</p>
        </h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h2>#nda #rahulgandhi #sonia #congress</h2>
        <h3>
          <p class="nda-color" style="text-align:center">100 m posts</p>
        </h3>
      </div>
    </div>
  </div>
</body>

</html>