{% extends "base.html" %}
{% block content %}

<body>
  <center>
  <h2>terms and conditions</h2>
  </center>
  <div class="card terms">
  Welcome to India Elections 2k19!
  <br><br>
  These terms and conditions outline the rules and regulations for the use of India Elections 2k19's Website, located at indiaelections.xyz.
  <br><br>
  By accessing this website we assume you accept these terms and conditions. Do not continue to use India Elections 2k19 if you do not agree to take all of the terms and conditions stated on this page. Our Terms and Conditions were created with the help of the Terms And Conditions Generator and the Privacy Policy Template.
  <br><br>
  The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of India. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
  <br><br>
  <b>Cookies</b><br><br>
  We employ the use of cookies. By accessing India Elections 2k19, you agreed to use cookies in agreement with the India Elections 2k19's Privacy Policy.
  <br><br>
  Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
  <br><br>
  <b>License</b><br><br>
  Unless otherwise stated, India Elections 2k19 and/or its licensors own the intellectual property rights for all material on India Elections 2k19. All intellectual property rights are reserved. You may access this from India Elections 2k19 for your own personal use subjected to restrictions set in these terms and conditions.
  <b>Hyperlinking to our Content</b>
  <br><br>
  The following organizations may link to our Website without prior written approval:
  <br><br>
  <ul>
  <li>Government agencies;</li><br>
  <li>Search engines;;</li><br>
  <li>News organizations;;</li><br>
  <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses;;</li><br>
  <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.;</li>
  </ul>
  These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.

  We may consider and approve other link requests from the following types of organizations:
<br><br>
<ul>
  <li>commonly-known consumer and/or business information sources;</li><br>
  <li>dot.com community sites;</li><br>
  <li>associations or other groups representing charities;</li><br>
  <li>online directory distributors;</li><br>
  <li>internet portals;</li><br>
  <li>accounting, law and consulting firms; and</li><br>
  <li>educational institutions and trade associations.</li><br>
  </ul>
  We will approve link requests from these organizations if we decide that: 
  <ul>
  <li>(a) the link would not make us look unfavorably to ourselves or to our accredited businesses; </li><br>
  <li>(b) the organization does not have any negative records with us; </li><br>
  <li>(c) the benefit to us from the visibility of the hyperlink compensates the absence of India Elections 2k19; and </li><br>
  <li>(d) the link is in the context of general resource information.</li><br>
  </ul>
<br><br>
  These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
<br><br>
  If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to India Elections 2k19. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.<br><br>

  Approved organizations may hyperlink to our Website as follows:<br><br>

  By use of our corporate name; or <br><br>
  By use of the uniform resource locator being linked to; or<br><br>
  By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.<br><br>
  No use of India Elections 2k19's logo or other artwork will be allowed for linking absent a trademark license agreement.<br><br>

  <b>iFrames</b><br><br>
  Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.<br><br>

  <b>Content Liability</b><br><br>
  We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
  <br><br>
  <b>Reservation of Rights</b><br><br>
  We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
  <br><br>
  Removal of links from our website<br><br>
  If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
  <br><br>
  <u>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
  Sentiment analysis is performed based on some python libraries. We do not guarantee the accuracy or perfectness of information shown in the site.
  We are not liable for loss of any party in the upcoming india elections 2019 due to content shown in the site. All information/content shown in the site
  is purely for educational/informational purposes and not to taken seriously.  
  </u>
  <br><br>
  <b>Disclaimer</b><br><br>
  To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
  <br><br>
  limit or exclude our or your liability for death or personal injury;
  limit or exclude our or your liability for fraud or fraudulent misrepresentation;
  limit any of our or your liabilities in any way that is not permitted under applicable law; or
  exclude any of our or your liabilities that may not be excluded under applicable law.
  The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
  <br><br>
  As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
  </div>
</body>

{% endblock %}