
.primary-color {
      color: #1A94EF;
}

a {
  color: white;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #6f47BB;
}

.btn-color {
  background-color: #2f65e6;
}

.upa-color {
  color: #48b6f6;
}

.nda-color {
  color: #5771A5;
}

body {
  background-color: #F1F2F5;
  color: black;
  font-family: 'Rubik';
  height: 100%;
}

.card {
  border: 1px solid;
  border-color: white;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-menu, .card {
 margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-menu {
  text-align: center;
}

.card-menu-item {
display: inline-block;
background-color:#D8F2FB;
height: 30px;
width: 50px;
}

.card1 {
  border: 1px solid;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.terms {
  text-align: justify;
  line-height: 1.6;
}

.invalid-feedback,.error {
   color: red;
}

.success {
  color: green;
}

a.active {
  border-bottom: 3px solid #1a4efa
}

.card-menu-item.active {
  border-bottom: 3px solid #1a4efa;
}